
<div class="text-center">
  <h1>WalleTest</h1>
  <h2>The new way to manage and keep track of your accounts</h2>
</div>
<p class="card-text"></p>
<div class="card text-center">
  <div class="card-body">
    <p class="card-text"></p><div class="text-center">

            <%= link_to 'Sign Up', new_user_registration_path, type: 'button', class: 'btn btn-primary' %>
        </div>
    <p class="card-text"></p>
    <div class="text-center">
            <%= link_to 'Log In', new_user_session_path, type: 'button', class: 'btn btn-secondary' %>
        </div>
  </div>
  </div>
