<h2>Categories</h2>
<%= link_to 'Create category', new_category_path, type: 'button', class: 'btn btn-primary' %>
<hr>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Category name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
